@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    background: hsl(218, 23%, 16%);
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 20vh;
}

.card {
    background: hsl(217, 19%, 24%);
    padding: 20px 50px;
    border-radius: 10px;
    max-width: 400px;
    text-align: center;
}

.advice-header {
    color: hsl(150, 100%, 66%);    
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
    font-weight: bold;
}

.advice-body {
    color:hsl(193, 38%, 86%);
    font-size: 28px;
}

.advice-linebreak {

}

.advice-button {

}

footer {
    color: white;
    text-align: center; 
    margin: 40px 0px;
}

footer a {
    color: hsl(150, 100%, 66%);
}

footer a:hover {
    opacity: .5;
}