@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    background: hsl(218, 23%, 16%);
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 20vh;
}

.card {
    background: hsl(217, 19%, 24%);
    padding: 20px 40px;
    border-radius: 20px;
    max-width: 400px;
    flex-shrink: 2;
    text-align: center;
    position: relative;
}

.advice-header {
    color: hsl(150, 100%, 66%);    
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
    font-weight: bold;
}

.advice-body {
    color:hsl(193, 38%, 86%);
    font-size: 28px;
    font-weight: 800;
}


.advice-linebreak {
    margin-bottom: 40px;
    position: relative;
    right: 20px;
}

.mobile-linebreak {
    display: none;
}

.advice-button {
    position: absolute;
    left: 216px;
    padding: 15px;
    border-radius: 50%;
    border: none;
    background:hsl(150, 100%, 66%);
}

.advice-button:hover {
    box-shadow: 0px 0px 25px 5px hsl(150, 100%, 86%);
}

footer {
    color: white;
    text-align: center; 
    margin: 60px 0px;
}

footer a {
    color: hsl(150, 100%, 66%);
}

footer a:hover {
    opacity: .5;
}

@media screen and (max-width: 450px) {
    .card {
        width: 250px;
        margin: 0px 20px;
    }

    .advice-linebreak {
        display: none;
    }

    .mobile-linebreak {
        display: inline-block;
        margin-bottom: 40px;
        position: relative;
        right: 20px;
    }

    .advice-button {
        position: absolute;
        left: 142px;
    }

    footer {
        margin: 80px 40px;
    }

}