@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Manrope', sans-serif;
    background: hsl(218, 23%, 16%);
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.card {
    background: hsl(217, 19%, 24%);
    padding: 50px;
    border-radius: 10px;
}

.advice-header {

}

.advice-body {

}

.advice-linebreak {

}

.advice-button {

}

footer {
    color: white;
}

footer a {
    color: hsl(150, 100%, 66%);
    text-align: center;
    margin: 20px 0px;
}